groIngestionStepFunction.asl.json
{
  "Comment": "Ingest and delete GRO file",
  "StartAt": "ConvertToJson",
  "States": {
    "ConvertToJson": {
      "Type": "Task",
      "Resource": "${GroConvertToJsonFunctionArn}",
      "OutputPath": "$",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException",
            "Lambda.Unknown"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 6,
          "BackoffRate": 2
        }
      ],
      "Next": "Map"
    },
    "Map": {
      "Type": "Map",
      "ItemProcessor": {
        "ProcessorConfig": {
          "Mode": "DISTRIBUTED",
          "ExecutionType": "STANDARD"
        },
        "StartAt": "GroPublishRecord",
        "States": {
          "GroPublishRecord": {
            "Type": "Task",
            "Resource": "${GroPublishRecordFunctionArn}",
            "OutputPath": "$",
            "Retry": [
              {
                "ErrorEquals": [
                  "Lambda.ServiceException",
                  "Lambda.AWSLambdaException",
                  "Lambda.SdkClientException",
                  "Lambda.TooManyRequestsException",
                  "Lambda.Unknown"
                ],
                "IntervalSeconds": 2,
                "MaxAttempts": 6,
                "BackoffRate": 2
              }
            ],
            "End": true
          }
        }
      },
      "Next": "Success",
      "Label": "Map",
      "MaxConcurrency": 1000,
      "ItemReader": {
        "Resource": "arn:aws:states:::s3:getObject",
        "ReaderConfig": {
          "InputType": "JSON"
        },
        "Parameters": {
          "Bucket.$": "$.jsonBucket",
          "Key.$": "$.jsonKey"
        }
      }
    },
    "Success": {
      "Type": "Succeed"
    }
  }
}
