groIngestionStepFunction.asl.json
{
  "Comment": "Ingest and delete GRO file",
  "StartAt": "GroConvertToJson",
  "States": {
    "GroConvertToJson": {
      "Type": "Task",
      "Resource": "${GroConvertToJsonFunctionArn}",
      "OutputPath": "$",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException",
            "Lambda.Unknown"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 6,
          "BackoffRate": 2
        }
      ],
      "Next": "Map"
    },
    "Map": {
      "Type": "Map",
      "ItemProcessor": {
        "ProcessorConfig": {
          "Mode": "DISTRIBUTED",
          "ExecutionType": "STANDARD"
        },
        "StartAt": "GroPublishRecord",
        "States": {
          "GroPublishRecord": {
            "Type": "Task",
            "Resource": "${GroPublishRecordFunctionArn}",
            "OutputPath": "$",
            "Retry": [
              {
                "ErrorEquals": [
                  "Lambda.ServiceException",
                  "Lambda.AWSLambdaException",
                  "Lambda.SdkClientException",
                  "Lambda.TooManyRequestsException",
                  "Lambda.Unknown"
                ],
                "IntervalSeconds": 2,
                "MaxAttempts": 6,
                "BackoffRate": 2
              }
            ],
            "Next": "SuccessDeleteJsonRecords",
            "Catch": [
              {
                "ErrorEquals": [
                  "States.ALL"
                ],
                "Next": "FailureDeleteJsonRecords",
                "ResultPath": "$.Error"
              }
            ],
            "ResultPath": null
          },
          "FailureDeleteJsonRecords": {
            "Type": "Task",
            "Parameters": {
              "Bucket.$": "$.jsonBucket",
              "Key.$": "$.jsonKey"
            },
            "Resource": "arn:aws:states:::aws-sdk:s3:deleteObject",
            "End": true
          },
          "SuccessDeleteJsonRecords": {
            "Type": "Task",
            "Parameters": {
              "Bucket.$": "$.jsonBucket",
              "Key.$": "$.jsonKey"
            },
            "Resource": "arn:aws:states:::aws-sdk:s3:deleteObject",
            "ResultPath": null,
            "End": true
          }
        }
      },
      "Next": "SuccessDeleteJsonRecordLocations",
      "Label": "Map",
      "MaxConcurrency": 100,
      "ItemReader": {
        "Resource": "arn:aws:states:::s3:getObject",
        "ReaderConfig": {
          "InputType": "JSON"
        },
        "Parameters": {
          "Bucket.$": "$.jsonBucket",
          "Key.$": "$.jsonKey"
        }
      },
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "Fail",
          "ResultPath": "$.Error"
        }
      ],
      "ResultPath": null
    },
    "Fail": {
      "Type": "Fail"
    },
    "SuccessDeleteJsonRecordLocations": {
      "Type": "Task",
      "Next": "SuccessDeleteXml",
      "Parameters": {
        "Bucket.$": "$.jsonBucket",
        "Key.$": "$.jsonKey"
      },
      "Resource": "arn:aws:states:::aws-sdk:s3:deleteObject",
      "ResultPath": null
    },
    "SuccessDeleteXml": {
      "Type": "Task",
      "Next": "Success",
      "Parameters": {
        "Bucket.$": "$.xmlBucket",
        "Key.$": "$.xmlKey"
      },
      "Resource": "arn:aws:states:::aws-sdk:s3:deleteObject"
    },
    "Success": {
      "Type": "Succeed"
    }
  }
}
